{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "targets": [
          "last 2 Chrome versions"
        ]
      }
    ]
  ],
  "ignore": ["src/vendor/*.js"],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}